.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box; }

.fixed-header {
  background-color: #424649;
  position: fixed;
  width: 100%;
  height: 70px;
  backface-visibility: hidden;
  z-index: 2;
  top: 0px;
  left: 0px; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 18px;
  height: 70px; }
  .header .title {
    font-size: 16px;
    margin: 0;
    font-weight: normal; }
  .header .toggle {
    cursor: pointer; }

#menu {
  background-color: #f7f7f7;
  background-image: url(../img/cork-wallet.png);
  color: #555555;
  overflow: hidden;
  padding-bottom: 24px; }
  #menu .header {
    color: #555555;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
  #menu .header:hover {
    background-color: #5573bb;
    color: #ffffff; }
  #menu .menu-item {
    display: block; }
  #menu .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.7);
    cursor: pointer; }
  #menu .item:hover {
    background-color: #5573bb;
    color: #ffffff; }

#panel {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-image: url(../img/greyzz.png);
  color: #555555;
  padding-top: 70px;
  padding-bottom: 24px;
  overflow: hidden; }
  #panel .main-contents {
    display: block;
    margin: 0;
    padding: 0; }
    #panel .main-contents .item {
      border-bottom: 1px solid #eeeeee;
      box-shadow: 0 0 2px 0 white;
      margin: 0;
      padding: 0; }
      #panel .main-contents .item .wrap {
        margin: 2em 18px; }
  #panel .home-contents .wrap {
    margin: 0 18px; }
